.footer{
    text-align: center;
    background-color: rgb(235, 144, 25);
    background-color: #c4253a;
    width:100%;
    font-family: 'DM Sans';
    font-weight: 700;
    padding: 3px;
    color: #FFF;
    border-top: 1px solid rgb(114, 17, 17);
}

.suspense{
    flex-grow: 1;
}